.headWrap {
  width: 100%;

  .topWrap {
    background: #333;

    .top {
      height: 36px;
      width: 1090px;
      margin: 0 auto;

      .topIndro {
        width: 256px;
        height: 36px;
        float: left;
        background: url(../image/laba.gif) no-repeat left center;

        a {
          color: #CC9756;
          text-decoration: underline;
          margin-left: 26px;
          line-height: 36px;
        }

        a:hover {
          color: #fff;
          text-decoration: none;
        }
      }

      .topList {
        float: right;

        div {
          margin-top: 10px;
          float: left;
          height: 12px;
          border-right: 1px solid #5c5c5c;
          padding-right: 10px;
          padding-left: 10px;
          vertical-align: middle;
          color: #ccc;
          cursor: pointer;

          h3 {
            font-size: 12px;
            height: 36px;
          }
        }

        div:hover {
          color: #fff;
        }

        .buy,
        .serv {
          position: relative;

          ul {
            position: absolute;
            top: 26px;
            left: 0;
            width: 80px;
            padding: 3px 0;
            color: #999;
            display: none;
            background: #fff;
            border: 1px solid #ddd;
            z-index: 999;

            li {
              margin: 0 13px;
              text-align: center;
              line-height: 38px;
              border-top: 1px solid #ddd;
            }

            li:hover {
              color: #CC9756;
            }
          }
        }
      }
    }
  }


  .searWrap {
    width: 100%;

    .sear {
      position: relative;
      height: 140px;
      width: 1090px;
      margin: 0 auto;
      // background: #ccf;

      .yx-cp-tabLogo {
        position: absolute;
        top: 24px;
        left: 0;

        i {
          height: 60px;
          width: 212px;
          display: inline-block;
          overflow: hidden;
          vertical-align: top;
          word-spacing: normal;
          letter-spacing: normal;
          background-image: -webkit-image-set(url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s2904006215-b2811ec0e9.png?imageView&type=webp) 1x, url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x2/icon-yxtop-s4e5a8e15c4-6c6b72bf09.png?imageView&type=webp) 2x);
          background-repeat: no-repeat;
          background-position: 0 -298px;
        }
      }

      .yx-cp-m-cartEnterWrap {
        position: relative;
        margin-top: 26px;
        margin-left: 49px;
        float: right;
        z-index: 4;

        .yx-cp-m-cartEnter {
          box-sizing: border-box;
          position: relative;
          cursor: pointer;
          width: 134px;
          height: 38px;
          border: 1px solid #CC9756;
          border-radius: 19px;
          padding: 8px 0;


          .yx-cp-cartName {
            color: #CC9756;
            margin-left: 5px;
            margin-top: -1px;
            font-size: 14px;
          }

          .yx-cp-icon-yxtop {
            background-position: 0 -148px;
            height: 18px;
            width: 18px;
            display: inline-block;
            overflow: hidden;
            vertical-align: top;
            font-size: 12px;
            word-spacing: normal;
            letter-spacing: normal;
          }


          .icon-yxtop-cart-s {
            background-position: 0 -148px;
            height: 18px;
            width: 18px;
            margin-left: 22px;
            background-image: -webkit-image-set(url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s2904006215-b2811ec0e9.png?imageView&type=webp) 1x, url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x2/icon-yxtop-s4e5a8e15c4-6c6b72bf09.png?imageView&type=webp) 2x);
            background-repeat: no-repeat;
          }

          .icon-yxtop-badge {
            margin-left: 10px;
            margin-top: -1px;
            color: #fff;
            text-align: center;
            line-height: 20px;
            z-index: 1;
            background-position: 0 -51px;
            height: 19px;
            width: 19px;
            display: inline-block;
            overflow: hidden;
            vertical-align: top;
            font-size: 12px;
            word-spacing: normal;
            letter-spacing: normal;
            background-image: -webkit-image-set(url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s2904006215-b2811ec0e9.png?imageView&type=webp) 1x, url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x2/icon-yxtop-s4e5a8e15c4-6c6b72bf09.png?imageView&type=webp) 2x);
          }
        }

        .yx-cp-m-cartEnter:hover {
          background-color: #F5F3EF;
        }
      }

      .yx-cp-m-tabNav {
        line-height: 1;
        font-weight: 700;
        position: absolute;
        height: 30px;
        bottom: 21px;
        width: 100%;
        box-sizing: border-box;

        .yx-cp-tabNav-item {
          float: left;
          margin-top: 27px;
          padding: 0 26px;
          font-size: 14px;

          .yx-cp-topLevel {
            display: block;
            padding-bottom: 7px;
            color: #000;
          }

        }

        .yx-cp-active {
          .yx-cp-topLevel {
            color: #CC9756;
            border-bottom: 3px solid #CC9756;
          }
        }

        .yx-cp-tabNav-item:hover .yx-cp-topLevel {
          color: #CC9756;
          border-bottom: 3px solid #CC9756;
        }

        .yx-cp-tabNav-split {
          border-left: 1px solid #ccc;
          height: 14px;
          margin-top: 28px;
          float: left;
        }

        .yx-cp-tabNav-item.yx-cp-firstItem {
          margin-left: 0;
          padding-left: 0;
        }

        .yx-cp-tabNav-item.yx-cp-lastItem {
          padding-right: 0;
        }

        .yx-cp-tabNav-dropdown {
          // display: none;
          position: absolute;
          top: 51px;
          background-color: transparent;
          // box-sizing: border-box;

          .yx-cp-cateGroupList {
            padding: 14px 20px 20px 0;
            background: #fff;
            float: left;

            .yx-cp-cateGroup-name {
              width: 124px;
              max-width: 124px;
              display: inline-block;
              margin-bottom: 10px;
              font-size: 16px;
              font-weight: 700;
              line-height: 36px;
              border-bottom: 1px solid #ddd;
            }

            li {
              .yx-cp-subCate-icon {
                height: 50px;
                width: 50px;
              }

              .yx-cp-subCate-text {
                display: inline-block;
                width: 70px;
                max-width: 70px;
                max-height: 48px;
                margin-left: 4px;
                font-size: 14px;
                font-weight: normal;
                vertical-align: middle;
                line-height: 1.2;
                overflow: hidden;
                word-wrap: break-word;
              }
            }

            li a {
              margin-bottom: 4px;
              font-weight: 400;
              line-height: 50px;
            }
          }
        }
      }

      .yx-cp-m-search {
        position: relative;
        margin-top: 26px;
        float: right;
        width: 532px;
        height: 36px;

        .icon-yxtop-search-gray {
          position: absolute;
          left: 18px;
          top: 12px;
          height: 14px;
          width: 14px;
          background-position: 0 -518px;
          display: inline-block;
          overflow: hidden;
          vertical-align: top;
          font-size: 12px;
          word-spacing: normal;
          letter-spacing: normal;
          background-image: -webkit-image-set(url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s2904006215-b2811ec0e9.png?imageView&type=webp) 1x, url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x2/icon-yxtop-s4e5a8e15c4-6c6b72bf09.png?imageView&type=webp) 2x);

        }

        .yx-cp-searchInput {
          position: absolute;
          left: 0px;
          top: 0;
          z-index: 1;
          display: block;
          height: 32px;
          line-height: 38px;
          padding-top: 2px;
          padding-bottom: 2px;
          border: 1px solid #CC9756;
          border-bottom-left-radius: 19px;
          border-top-left-radius: 19px;
          font-size: 14px;
          width: 400px;
          padding-left: 38px;
          outline: 0;
          overflow: hidden;
          background: 0 0;
          background: url(//yanxuan.nosdn.127.net/78c8186….png)\9;
        }

        .yx-cp-searchButton {
          width: 90px;
          height: 38px;
          background-color: #CC9756;
          border-top-right-radius: 19px;
          border-bottom-right-radius: 19px;
          cursor: pointer;
          float: right;
          color: #fff;
          line-height: 38px;
          text-align: center;
          font-size: 16px;
          letter-spacing: 1px;
        }

        .yx-cp-searchButton:hover {
          background-color: #E2C199;
        }
      }

    }
  }
}

.bannerWrap {
  width: 100%;
  overflow: hidden;
  position: relative;

  .bannerMain {
    width: 1920px;
    height: 420px;
    margin: 0 auto;
    position: relative;

    .show {
      z-index: 10;
    }

    img {
      width: 1920px;
      position: absolute;
      left: -10%;
      margin: 0 auto;
      top: 0;
      z-index: 2;
      opacity: 0.02;
    }
  }

  .prev {
    position: absolute;
    left: 154.5px;
    top: 50%;
    z-index: 100;
    margin-top: -12px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url('../image/icon2.png') no-repeat 0 -5408px;
    background-color: #E2C199;
    border-radius: 500px;
  }

  .next {
    position: absolute;
    right: 154.5px;
    top: 50%;
    z-index: 99;
    margin-top: -12px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url('../image/icon2.png') no-repeat 0 -5628px;
    background-color: #E2C199;
    border-radius: 500px;
  }

  .num {
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 4px;
    z-index: 99;

    .active {
      background-color: #a7936e;
    }

    li {
      float: left;
      position: relative;
      margin: 0 8px 10px;
      padding: 0;
      cursor: pointer;
      font-size: 0;
      line-height: 0;
      display: block;
      width: 8px;
      height: 8px;
      color: transparent;
      border: 2px solid #dfcead;
      border-radius: 50%;
      background: #fff;

    }
  }
}

.newListWrap {
  width: 100%;
  box-sizing: border-box;

  .newList {
    width: 1090px;
    height: 510px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;

    .newList_tit {
      height: 28px;
      padding-bottom: 20px;

      a:hover {
        color: #b4a078;
      }

      a {
        color: #333;
      }

      .tit_a h3 {
        font-size: 28px;
        font-weight: 700;
        line-height: 1;
        float: left;
        margin-right: 20px;
      }

      .c2 {
        padding-top: 13px;
        display: block;
        line-height: 1;
        float: left;
        font-size: 14px;
      }

      .tit_aR {
        display: block;
        line-height: 1;
        margin-left: 30px;
        padding-top: 14px;
        cursor: pointer;
        float: right;
        font-size: 14px;
      }
    }

    .cont {
      width: 1100px;
      overflow: hidden;
      height: 364px;
      position: relative;

      .cont-list {
        overflow: hidden;
        height: 265px;
        width: 8000px;

        li {
          width: 265px;
          height: 364px;
          margin-right: 10px;
          overflow: hidden;
          float: left;
          line-height: 1;
          text-align: center;
          font-size: 13px;
          min-height: 1px;

          a {
            overflow: hidden;
            position: relative;
            display: inline-block;

            img {
              width: 265px;
              height: 265px;
              margin-bottom: 8px;
              background: #F4F4F4;
            }


          }

          .prdtTags {
            text-align: center;
            position: absolute;
            height: 20px;
            font-size: 0;
            color: #fff;
            width: 200px;
            margin: 0 33px 3px;
            overflow: hidden;

            .m-itemTag {
              margin-left: 6px;
              font-size: 12px;
              height: 20px;
              line-height: 20px;
              color: #fff !important;
              padding: 0 5px;
              background-color: #e36844;
            }

            .m-itemTag:first-child {
              margin-left: 0;
            }


          }

          h4 {
            width: 166px;
            margin: 0 50px 4px;
            max-height: 40px;
            line-height: 20px;
            overflow: hidden;
            position: absolute;
            bottom: 25px;
            font-weight: 700;

            a {
              color: #333;
            }
          }

          h4:hover {
            width: 166px;
            margin: 0 50px 4px;
            max-height: 40px;
            line-height: 20px;
            overflow: hidden;
            position: absolute;
            bottom: 25px;
            font-weight: 700;

            a {
              color: #B4A078;
            }
          }

          .price {
            position: absolute;
            bottom: -40px;
            font-size: 13px;
            line-height: 13px;
            color: #d4282d;
            padding: 1px 0 9px;
            margin: 0 110px;
          }
        }
      }
    }

    p {
      display: block;
      height: 50px;
      width: 50px;
      float: left;
      cursor: pointer;
      border-radius: 50%;
    }

    .J-prev {
      position: absolute;
      top: 30%;
      left: -65px;
      background: url(../image/icon2.png) #CC9756 no-repeat 0 -5408px;
    }

    .J-next {
      position: absolute;
      top: 30%;
      right: -65px;
      background: url(../image/icon2.png) #CC9756 no-repeat 0 -5628px;
    }
  }
}