.bannerWrap {
  width: 100%;
  overflow: hidden;
  position: relative;

  .bannerMain {
    width: 1920px;
    height: 420px;
    margin: 0 auto;
    position: relative;

    .show {
      z-index: 10;
    }

    img {
      width: 1920px;
      position: absolute;
      left: -10%;
      margin: 0 auto;
      top: 0;
      z-index: 2;
      opacity: 0.02;
    }
  }

  .prevB {
    position: absolute;
    left: 154.5px;
    top: 50%;
    z-index: 100;
    margin-top: -12px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url('../image/icon2.png') no-repeat 0 -5408px;
    background-color: #E2C199;
    border-radius: 500px;
  }

  .nextB {
    position: absolute;
    right: 154.5px;
    top: 50%;
    z-index: 99;
    margin-top: -12px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url('../image/icon2.png') no-repeat 0 -5628px;
    background-color: #E2C199;
    border-radius: 500px;
  }

  .num {
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 4px;
    z-index: 99;

    .active {
      background-color: #a7936e;
    }

    li {
      float: left;
      position: relative;
      margin: 0 8px 10px;
      padding: 0;
      cursor: pointer;
      font-size: 0;
      line-height: 0;
      display: block;
      width: 8px;
      height: 8px;
      color: transparent;
      border: 2px solid #dfcead;
      border-radius: 50%;
      background: #fff;
    }
  }
}

.newListWrap {
  width: 100%;
  box-sizing: border-box;

  .newList {
    width: 1090px;
    height: 510px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;

    .newList_tit {
      height: 28px;
      padding-bottom: 20px;

      a:hover {
        color: #b4a078;
      }

      a {
        color: #333;
      }

      .tit_a h3 {
        font-size: 28px;
        font-weight: 700;
        line-height: 1;
        float: left;
        margin-right: 20px;
      }

      .c2 {
        padding-top: 13px;
        display: block;
        line-height: 1;
        float: left;
        font-size: 14px;
      }

      .tit_aR {
        display: block;
        line-height: 1;
        margin-left: 30px;
        padding-top: 14px;
        cursor: pointer;
        float: right;
        font-size: 14px;
      }
    }

    .cont {
      width: 1100px;
      overflow: hidden;
      height: 364px;
      position: relative;

      .cont-list {
        overflow: hidden;
        height: 265px;
        width: 8000px;

        li {
          width: 265px;
          // height: 364px;
          margin-right: 10px;
          overflow: hidden;
          float: left;
          line-height: 1;
          text-align: center;
          font-size: 13px;
          min-height: 1px;

          a {
            overflow: hidden;
            position: relative;
            display: inline-block;

            img {
              width: 265px;
              height: 265px;
              margin-bottom: 8px;
              background: #F4F4F4;
            }


          }

          .prdtTags {
            text-align: center;
            position: absolute;
            height: 20px;
            font-size: 0;
            color: #fff;
            width: 200px;
            margin: 0 33px 3px;
            overflow: hidden;

            .m-itemTag {
              margin-left: 6px;
              font-size: 12px;
              height: 20px;
              line-height: 20px;
              color: #fff !important;
              padding: 0 5px;
              background-color: #e36844;
            }

            .m-itemTag:first-child {
              margin-left: 0;
            }


          }

          h4 {
            width: 166px;
            margin: 0 50px 4px;
            max-height: 40px;
            line-height: 20px;
            overflow: hidden;
            position: absolute;
            bottom: 25px;
            font-weight: 700;

            a {
              color: #333;
            }
          }

          h4:hover a {
            color: #B4A078;
          }

          .price {
            position: absolute;
            bottom: -40px;
            font-size: 13px;
            line-height: 13px;
            color: #d4282d;
            padding: 1px 0 9px;
            margin: 0 110px;
          }
        }
      }
    }

    p {
      display: block;
      height: 50px;
      width: 50px;
      float: left;
      cursor: pointer;
      border-radius: 50%;
    }

    .J-prev {
      position: absolute;
      top: 30%;
      left: -65px;
      background: url(../image/icon2.png) #CC9756 no-repeat 0 -5408px;
    }

    .J-next {
      position: absolute;
      top: 30%;
      right: -65px;
      background: url(../image/icon2.png) #CC9756 no-repeat 0 -5628px;
    }
  }
}